<html>
    <head>
        <title>Jay's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Jay's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>Hi there!</p>
            <h2><a href="">The very first post</a></h2>
            <p>It's been a great day!</p>
        </div>

        <div>
            <p>published: 20.04.2016, 18:23</p>
            <h2><a href="">The very next post</a></h2>
            <p>It Works!</p>
        </div>
    </body>
</html>
